<div class = "header clearfix">
  <img class = "header__image" src="https://illustimage.com/photo/dl/463.png?20160705" height="50px" width="50px" alt="image">
  <img class = "header__image" src="https://illustimage.com/photo/dl/463.png?20160705" height="50px" width="50px" alt="image">
  <img class = "header__image" src="https://illustimage.com/photo/dl/463.png?20160705" height="50px" width="50px" alt="image">
  <ul class = "header__inner">
    <img class = "header__inner__image" src="https://illustimage.com/photo/dl/463.png?20160705" height="50px" width="50px" alt="image">
    <li>
      <%# <a href="">開催する</a> %>
      <%= link_to '開催する', "/posts/new", method: :get %>
    </li>
    <li><a href="">ログイン</a></li>
    <li><a href="">マイページ</a></li>  
  </div>