<%= render partial: 'header' %>
<div class = "wrapper">
  <div class = "description">
    <%# <img class = "description__image" src="https://publicdomainq.net/images/201809/17s/publicdomainq-0026387urv.jpg" height="70%" width="70%" alt="image"> %>
    <div class = "description__text">
      <p>
        テニスがしたいけど、近くに仲間やコートがない方や同じぐらいの年代やスキルレベルのメンバーを集めて<br>
        試合がしたい方をマッチングさせるためのオンラインサービスです。会員登録の際、自分の経歴やスキル<br>
        レベルなどを登録していただくので、目的に従ったマッチングが可能となっております。<br>
        ぜひお試しください！
      </p>
    </div>
  </div>
  <div class="new-tennis">
    <div class="new-tennis__container">
      <div class="new-tennis__container__heading">
        <h3>新着開催テニス</h3>
      </div>
      <% @new_tennis.each do |post| %> 
        <%= render 'post_box', post: post %> 
      <% end %>    
    </div>
  </div>
  <div class="local-tennis">
    <div class="local-tennis__container">
      <div class="local-tennis__container__heading">
        <h3>東京開催テニス</h3>
      </div>
      <% @tokyo_tennis.each do |post| %> 
        <%= render 'post_box', post: post %> 
      <% end %>
    </div>
  </div>
</div>