// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  padding-top: 80px;

}

.description{
  padding: 0 100px 50px;
  text-align: center;
  // &__image{
  // }
  &__text{
    text-align:  center;    /* 文字中央寄せ */
    padding:  10px;        /* 余白指定 */
    border: solid 2px;      /* 枠線指定 */
  }
}

.new-tennis, .local-tennis{
  background-color:#F5F5F5;
  &__container{
    width: 1020px;
    // height: 650px;
    margin: 0 auto;
    padding: 40px 0 10px;
  
    &__heading{
      display: flex;
      margin-bottom: 10px;

      h3{
        font-size: 24px;
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        flex-grow: 10; 
      }
    }
    &__contents{
      width: 800px;
      height:200px;
      border: 1px solid;
      background-color: white;
      padding: 32px;
      margin-bottom: 20px;
    
      &__picture{
        float: left; 
        padding-right:10px;
      }
      &__title{
        &__contents{
          // margin-right:55px;

        }
      }
      &__column{
        display:inline-block;
        width:140px;
      }
    }
  }



}
